@use "../../styles/functions" as *;

.div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
  gap: 1.5rem;

  &:before,
  &:after {
    content: "";
    display: block;
    height: 1px;
    border-radius: 1px;
    background-color: v("off-white");
    flex: 1;
    opacity: 0.2;
  }

  svg {
    flex: 0 0 20px;
  }
}
